@font-face{
    font-family: 'Gothic A1';
    src: url(../fonts/GothicA1-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Gothic A1';
    src: url(../fonts/GothicA1-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: 'Gothic A1';
    src: url(../fonts/GothicA1-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Gothic A1, Helvetica, Arial, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    padding: 32px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: -1;
    .intro {
        align-self: center;
        h1 {
            font-size: 48px;
            font-weight: 700;
            color: white;
        }
        p {
            margin-top: 32px;
            color: grey;
        }
        .main-footer {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
            a{
                text-decoration: none;
                color: white;
                align-self: center;
                display: flex;
                font-size: 14px;
                .icon {
                    width: 16px;
                    height: 16px;
                    filter: invert(1);
                    border-radius: 0%;
                    margin-right: 16px;
                    align-self: center;
                }
                .ext {
                    width: 10px;
                    height: 10px;
                    filter: invert(1);
                    border-radius: 0%;
                    align-self: center;
                    margin-left: 8px;
                }
                span {
                    align-self: center;
                    margin-top: 1px;
                    margin-right: 4px;
                }
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 64px;
    background-color: #202022;
    z-index: 3;
    transform: translateY(-68px);
    transition: all .2s ease-in-out;
    box-shadow: 0 8px 6px -6px #151515;
    .text-container{
        height: 100%;
        display: flex;
        margin-left: 60px;
        h2{
            align-self: center;
            font-size: 22px;
            font-weight: 600;
            color: white;
        }
    }
}

.transform {
    transform: translateY(0px);
}

.projects {
    color: white;
    padding: 32px;
    padding-bottom: 0;
    margin-top: 100vh;
    position: relative;
    background-color: black;
    h2 {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        position: sticky;
        top: 24px;
        z-index: 4;
    }
    .cards-container{
        .card {
            margin-top: 32px;
            background-color: #202022;
            padding: 40px;
            cursor: pointer;
            section {
                text-decoration: none;
                width: 100%;
                height: 100%;
                h1 {
                    font-size: 24px;
                    font-weight: 600;
                    color: white;
                }
                .description {
                    margin-top: 8px;
                    font-size: 14px;
                    color: #949495;
                }
                .language {
                    display: inline-block;
                    margin: 16px 8px 0 0;
                    color: white;
                }
                .HTML {
                    display: inline-block;
                    margin: 16px 8px 0 0;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #E34C26;
                }
                .CSS,
                .SCSS {
                    display: inline-block;
                    margin: 16px 8px 0 0;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #563D7C;
                }
                .JS {
                    display: inline-block;
                    margin: 16px 8px 0 0;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #F1E05A;
                }
            }
        }
    }
}



.lang {
    color: white;
    padding: 32px;
    padding-bottom: 0;
    position: relative;
    background-color: black;
    h2 {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        position: sticky;
        top: 24px;
        z-index: 4;
    }
    .lang-container {
        width: fit-content;
        padding: 32px;
        .collapsable{
            margin: 8px 0;
            .primary::before{
                content: '\25be';
                display: inline-block;
                transform: rotate(30deg);
                transition: all .2s ease-in-out;
                margin-right: 2px;
            }
            .primary-rotate::before{
                content: '\25be';
                display: inline-block;
                transition: all .2s ease-in-out;
                margin-right: 2px;
            }
            .primary,
            .primary-rotate{
                font-size: 12px;
                cursor: pointer;
                user-select: none;
                -webkit-tap-highlight-color: transparent;
            }
            .secondary::before{
                content: '';
                width: 2px;
                height: 15px;
                display: inline-block;
                background: #404040;
                position: absolute;
                left: -6px;
            }
            .secondary:last-child{
                margin-bottom: 8px;
            }
            .secondary{
                display: none;
                font-weight: 400;
                margin-left: 8px;
                text-transform: uppercase;
                overflow: hidden;
                max-height: 0px;
                transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
    }
}

footer{
    background-color: black;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: white;
        text-align: center;
        font-size: 12px;
    }
}

safin {
    display: none;
}

//Projects Page
.cards-info-container{
    width: 100%;
    max-height: 150vh;
    overflow-y: scroll;
    background-color: black;
    .card-info-nav{
        top: 0;
        position: fixed;
        z-index: 7;
        button{
            position: absolute;
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
            margin: 16px auto auto 8px;
            filter: invert(1);
            outline: none;
            img{
                height: 32px;
                width: 32px;
            }
        }
    }
    .img-container{
        top: 0;
        height: 232px;
        width: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 5;
        img{
            max-width: 100%;
            min-width: 100%;
            min-height: 232px;
            position: relative;
            top: 50%;
            bottom: 50%;
            transform: translateY(-50%);
        }
    }
    .card-info-body{
        width: 100%;
        margin-top: 232px;
        height: 150vh;
        z-index: 6;
        position: absolute;
        background-color: black;
        .card-title{
            padding: 16px;
            h1{
                color: white;
                font-size: 48px;
            }
            h6{
                color: white;
                font-size: 14px;
                font-weight: 400;
            }
        }
        .card-info-cta{
            display: flex;
            margin: 8px auto auto 16px;
            a{
                font-size: 14px;
                text-decoration: none;
                display: flex;
                align-items: center;
                margin-right: 8px;
                height: 40px;
                padding-left: 16px;
                padding-right: 16px;
                color: white;
                background-color: #202022;
                border: none;
                cursor: pointer;
                outline: none;
                img{
                    width: 20px;
                    height: 20px;
                    filter: invert(1);
                    margin: 0 8px 2px 0;
                }
            }
        }
        .tabs{
            margin: 48px auto auto auto;
            width: 100%;
            border-bottom: 1px solid #202022;
            .tab-btns{
                display: flex;
                justify-content: space-between;
                width: 85%;
                margin: auto;
                button{
                    padding: 16px;
                    color: white;
                    background-color: black;
                    border: none;
                    font-size: 14px;
                    outline: none;
                }
                .active-tab{
                    border-bottom: 2px solid white;
                }
            }
        }
    }
}