* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  width: 60vw;
  margin: auto;
}

body header {
  padding: 24px;
}

body header h1 {
  font-size: 48px;
}

body header p {
  margin-top: 18px;
  font-size: 16px;
  line-height: 1.5rem;
}

body .sub_header {
  padding: 24px;
  font-size: 1.5rem;
}

body .stack {
  padding: 0 24px;
}

body .stack__btns {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .stack__btns ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .stack__btns ul .stack__btn {
  min-width: 110px;
  padding: 10px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  border-bottom: 2px solid #9a9a9a;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body .stack__btns ul .stack__btn-active {
  background-color: #ebebeb;
  border-bottom: 2px solid black;
}

body .stack__content {
  display: none;
  margin: auto;
}

body .stack__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 80%;
  margin: 14px auto auto auto;
}

body .stack__content ul li {
  max-width: 20vw;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .stack__content ul li img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
}

body .stack__content ul li p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .project__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto 24px auto;
}

body .project__card .img-container {
  height: 150px;
  width: 200px;
  overflow: hidden;
}

body .project__card .img-container img {
  width: 100%;
}

body .project__card__content {
  width: 500px;
  padding: 14px;
  background-color: #ebebeb;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .project__card__content a {
  color: black;
  text-decoration: none;
  margin-bottom: 4px;
}

body .project__card__content a:hover {
  text-decoration: underline;
}

body .project__card__content__paragraph {
  width: 80%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .project__card__content__footer {
  bottom: 0;
}

body .project__card__content__footer p {
  font-size: 14px;
  margin-bottom: 2px;
}

body .project__card__content__footer a {
  text-decoration: none;
  color: black;
  margin-right: 6px;
}

body .project__card__content__footer a img {
  height: 10px;
  width: 10px;
}

body .project__card__content__footer a:hover {
  text-decoration: underline;
}

body .project__card:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .project__card:nth-child(odd) img {
  border-radius: 5%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body .project__card:nth-child(odd) .project__card__content {
  border-radius: 5%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

body .project__card:nth-child(even) img {
  border-radius: 5%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

body .project__card:nth-child(even) .project__card__content {
  border-radius: 5%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
  margin-bottom: 14px;
}

body footer a {
  color: black;
  text-decoration: none;
  background-color: #ebebeb;
  padding: 6px 42px;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer a img {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
}

body footer a:hover {
  text-decoration: underline;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background: black;
}

@media (max-width: 1000px) {
  body {
    width: 90vw;
  }
  body header h1 {
    text-align: center;
  }
  body .stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .stack__btns {
    width: auto;
    display: inline-block;
  }
  body .stack__btns ul {
    display: inline-block;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .stack__btns ul .stack__btn {
    max-width: 110px;
    padding: 10px 6px;
    border-bottom: none;
    border-right: 2px solid #9a9a9a;
  }
  body .stack__btns ul .stack__btn-active {
    border-bottom: none;
    border-right: 2px solid black;
  }
  body .stack__content {
    width: auto;
    display: inline-block;
  }
  body .stack__content ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .project__card {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .project__card .img-container {
    width: auto;
    overflow: hidden;
  }
  body .project__card .img-container img {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    width: 100%;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  body .project__card__content {
    height: 200px;
    width: auto;
  }
  body .project__card:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .project__card:nth-child(odd) .img-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
  }
  body .project__card:nth-child(odd) .project__card__content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5%;
  }
  body .project__card:nth-child(even) .img-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
  }
  body .project__card:nth-child(even) .project__card__content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5%;
  }
}
/*# sourceMappingURL=style.css.map */