* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Gothic A1, Helvetica, Arial, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    padding: 32px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: -1;
    .intro {
        align-self: center;
        h1 {
            font-size: 48px;
            font-weight: 700;
            color: white;
        }
        p {
            margin-top: 32px;
            color: grey;
        }
        .main-footer {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
            a{
                text-decoration: none;
                color: white;
                align-self: center;
                display: flex;
                font-size: 14px;
                .icon {
                    width: 16px;
                    height: 16px;
                    filter: invert(1);
                    border-radius: 0%;
                    margin-right: 16px;
                    align-self: center;
                }
                .ext {
                    width: 10px;
                    height: 10px;
                    filter: invert(1);
                    border-radius: 0%;
                    align-self: center;
                    margin-left: 8px;
                }
                span {
                    align-self: center;
                    margin-top: 1px;
                    margin-right: 4px;
                }
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 64px;
    background-color: #202022;
    z-index: 3;
    transform: translateY(-64px);
    transition: all .2s ease-in-out;
    box-shadow: 0 8px 6px -6px #151515;
}

.transform {
    transform: translateY(0px);
}

.projects {
    color: white;
    padding: 32px;
    padding-bottom: 0;
    margin-top: 100vh;
    height: 100vh;
    position: relative;
    background-color: black;
    h2 {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        position: sticky;
        top: 24px;
        z-index: 4;
    }
    .card {
        margin-top: 32px;
        background-color: #202022;
        padding: 40px;
        a {
            text-decoration: none;
            h1 {
                font-size: 24px;
                font-weight: 600;
                color: white;
            }
            .description {
                margin-top: 8px;
                font-size: 14px;
                color: grey;
            }
            .language {
                display: inline-block;
                margin: 16px 8px 0 0;
                color: white;
            }
            .html {
                display: inline-block;
                margin: 16px 8px 0 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #E34C26;
            }
            .css {
                display: inline-block;
                margin: 16px 8px 0 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #563D7C;
            }
            .js {
                display: inline-block;
                margin: 16px 8px 0 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #F1E05A;
            }
        }
    }
}
.projects2 {
    color: white;
    padding: 32px;
    padding-bottom: 0;
    height: 150vh;
    position: relative;
    background-color: black;
    h2 {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        position: sticky;
        top: 24px;
        z-index: 4;
    }
    .card {
        z-index: 2;
        margin-top: 32px;
        background-color: #202022;
        padding: 40px;
        a {
            text-decoration: none;
            h1 {
                font-size: 24px;
                font-weight: 600;
                color: white;
            }
            .description {
                margin-top: 8px;
                font-size: 14px;
                color: grey;
            }
            .language {
                display: inline-block;
                margin: 16px 8px 0 0;
                color: white;
            }
            .html {
                display: inline-block;
                margin: 16px 8px 0 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #E34C26;
            }
            .css {
                display: inline-block;
                margin: 16px 8px 0 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #563D7C;
            }
            .js {
                display: inline-block;
                margin: 16px 8px 0 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #F1E05A;
            }
        }
    }
}