* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Gothic A1, Helvetica, Arial, sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  z-index: -1;
}

main .intro {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .intro h1 {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

main .intro p {
  margin-top: 32px;
  color: grey;
}

main .intro .main-footer {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .intro .main-footer img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

main .intro .main-footer a {
  text-decoration: none;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

main .intro .main-footer a .icon {
  width: 16px;
  height: 16px;
  -webkit-filter: invert(1);
          filter: invert(1);
  border-radius: 0%;
  margin-right: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .intro .main-footer a .ext {
  width: 10px;
  height: 10px;
  -webkit-filter: invert(1);
          filter: invert(1);
  border-radius: 0%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 8px;
}

main .intro .main-footer a span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1px;
  margin-right: 4px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 64px;
  background-color: #202022;
  z-index: 3;
  -webkit-transform: translateY(-64px);
          transform: translateY(-64px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0 8px 6px -6px #151515;
          box-shadow: 0 8px 6px -6px #151515;
}

.transform {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.projects {
  color: white;
  padding: 32px;
  padding-bottom: 0;
  margin-top: 100vh;
  position: relative;
  background-color: black;
}

.projects h2 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
  z-index: 4;
}

.projects .card {
  margin-top: 32px;
  background-color: #202022;
  padding: 40px;
  cursor: pointer;
}

.projects .card section {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.projects .card section h1 {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.projects .card section .description {
  margin-top: 8px;
  font-size: 14px;
  color: grey;
}

.projects .card section .language {
  display: inline-block;
  margin: 16px 8px 0 0;
  color: white;
}

.projects .card section .HTML {
  display: inline-block;
  margin: 16px 8px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #E34C26;
}

.projects .card section .CSS,
.projects .card section .SCSS {
  display: inline-block;
  margin: 16px 8px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #563D7C;
}

.projects .card section .JS {
  display: inline-block;
  margin: 16px 8px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #F1E05A;
}

.tech {
  color: white;
  padding: 32px;
  padding-bottom: 0;
  position: relative;
  background-color: black;
}

.tech h2 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  position: -webkit-sticky;
  position: sticky;
  top: 24px;
  z-index: 4;
}

footer {
  height: 64px;
}
/*# sourceMappingURL=style.css.map */