* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    width: 60vw;
    margin: auto;
    header {
        padding: 24px;
        h1 {
            font-size: 48px;
        }
        p {
            margin-top: 18px;
            font-size: 16px;
            line-height: 1.5rem;
            margin-bottom: 14px;
        }
        a {
            color: black;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .sub_header {
        padding: 24px;
        font-size: 1.5rem;
    }
    .stack {
        padding: 0 24px;
        &__btns {
            margin-top: 18px;
            display: flex;
            ul {
                width: 100%;
                display: flex;
                justify-content: center;
                .stack__btn {
                    min-width: 110px;
                    padding: 10px 16px;
                    display: flex;
                    flex-direction: column;
                    width: fit-content;
                    text-align: center;
                    user-select: none;
                    cursor: pointer;
                    border-bottom: 2px solid #9a9a9a;
                    transition: all .2s ease-in-out;
                }
                .stack__btn-active {
                    background-color: #ebebeb;
                    border-bottom: 2px solid black;
                }
            }
        }
        &__content {
            display: none;
            margin: auto;
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                list-style: none;
                width: 80%;
                margin: 14px auto auto auto;
                li {
                    max-width: 20vw;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    img {
                        align-self: center;
                        height: 30px;
                        width: 30px;
                        margin-bottom: 10px;
                    }
                    p {
                        align-self: center;
                    }
                }
            }
        }
    }
    .project {
        display: flex;
        flex-direction: column;
        &__card {
            display: flex;
            margin: auto auto 24px auto;
            .img-container {
                height: 150px;
                width: 200px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            &__content {
                width: 500px;
                padding: 14px;
                background-color: #ebebeb;
                position: relative;
                display: flex;
                flex-direction: column;
                a {
                    color: black;
                    text-decoration: none;
                    margin-bottom: 4px;
                }
                a:hover {
                    text-decoration: underline;
                }
                &__paragraph {
                    width: 80%;
                    flex-grow: 1;
                }
                &__footer {
                    bottom: 0;
                    p {
                        font-size: 14px;
                        margin-bottom: 2px;
                    }
                    a {
                        text-decoration: none;
                        color: black;
                        margin-right: 6px;
                        img {
                            height: 10px;
                            width: 10px;
                        }
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &__card:nth-child(odd) {
            flex-direction: row-reverse;
            img {
                border-radius: 5%;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            .project__card__content {
                border-radius: 5%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        &__card:nth-child(even) {
            img {
                border-radius: 5%;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            .project__card__content {
                border-radius: 5%;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
    footer {
        display: flex;
        justify-content: center;
        gap: 14px;
        margin-bottom: 14px;
        a {
            color: black;
            text-decoration: none;
            background-color: #ebebeb;
            padding: 6px 42px;
            border-radius: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                height: 30px;
                width: 30px;
                margin-bottom: 10px;
            }
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
body::-webkit-scrollbar{
    width: 6px;
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    background: black;
}

@media (max-width: 1000px) {
    body {
        width: 90vw;
        header {
            h1 {
                text-align: center;
            }
        }
        .stack {
            display: flex;
            &__btns {
                width: auto;
                display: inline-block;
                ul {
                    display: inline-block;
                    width: auto;
                    flex-direction: column;
                    .stack__btn {
                        max-width: 110px;
                        padding: 10px 6px;
                        border-bottom: none;
                        border-right: 2px solid #9a9a9a;
                    }
                    .stack__btn-active {
                        border-bottom: none;
                        border-right: 2px solid black;
                    }
                }
            }
            &__content {
                width: auto;
                display: inline-block;
                ul {
                    justify-content: space-around;
                }
            }
        }
        .project {
            &__card {
                width: 80%;
                flex-direction: column;
                .img-container {
                    width: auto;
                    overflow: hidden;
                    img {
                        min-width: 100%;
                        min-height: 100%;
                        position: relative;
                        width: 100%;
                        top: 50%;
                        bottom: 50%;
                        left: 50%;
                        right: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                &__content {
                    height: 200px;
                    width: auto;
                }
            }
            &__card:nth-child(odd) {
                flex-direction: column;
                .img-container {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-top-left-radius: 5%;
                    border-top-right-radius: 5%;
                }
                .project__card__content {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 5%;
                }
            }
            &__card:nth-child(even) {
                .img-container {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 5%;
                    border-top-left-radius: 5%;
                }
                .project__card__content {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 5%;
                }
            }
        }
    }
}