@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

.pc_nav_links {
    visibility: hidden;
}

nav.pc {
    display: flex;
    justify-content: space-between;
    width: 90.33%;
    margin: 20px auto;
}

img.logo {
    width: 60px;
    cursor: none;
}

label.menuBtn > a {
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 60px;
    text-decoration: none;
    color: black;
    cursor: none;
}

nav.phone{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: black;
    min-height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    z-index: 1000000;
}

nav.phone > div.menu_container > div.phone_nav {
    display: flex;
    justify-content: space-between;
    width: 90.33%;
    margin: auto;
    padding-top: 20px;
}

label.menuBtn2 > a {
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 60px;
    text-decoration: none;
    color: white;
    cursor: none;
}

nav.phone > div.menu_container > div.nav_links > ul {
    min-height: 100%;
    width: 90.33%;
    margin: 70px auto;
}

nav.phone > div.menu_container > div.nav_links > ul > li {
    margin: 10px auto;
}

nav.phone > div.menu_container > div.nav_links > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.25rem;
}

/* Header End */

/* Title */

div.title {
    width: 90.33%;
    margin: 40px auto 40px auto;
}

h1.title {
    font-weight: bold;
    font-size: 2.25rem;
}

p.subTitle {
    font-weight: normal;
    font-size: 1.25rem;
    width: 90.33%;
    hyphens: auto;
}

/* Title End */

/* Projects */

.projects2,
.projects3,
.projects4 {
    display: none;
}

section.frame > video {
    width: 100%;
}

section.projectTitle > h1 {
    width: 90.33%;
    margin: 30px auto 0 auto;
    font-weight: bold;
    font-size: 1.875rem;
}

section.projectTitle > p {
    width: 90.33%;
    margin: 10px auto 0 auto;
    font-weight: normal;
    font-size: 1.1rem;
}

section.seeMoreBtn {
    width: 90.33%;
    margin: 30px auto auto auto;
}

section.seeMoreBtn > div {
    display: flex;
    width: 160px;
    height: 50px;
    background: black;
}

section.seeMoreBtn > div > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    align-self: center;
    justify-content: first baseline;
    margin-left: 10px;
}

section.seeMoreBtn > div > img {
    justify-self: last baseline;
    margin: 14px auto auto 10px;
}

/* Projects End */

/* Footer */

footer,
div.phone_footer {
    width: 90.33%;
    display: flex;
    justify-content: space-between;
    margin: auto auto 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer > section.footerText {
    font-size: 1.125rem;
    width: 190px;
}

footer > section.social,
div.phone_footer > section.social  {
    width: 148px;
    display: flex;
    justify-content: space-between;
}

footer > section.social > a > img,
div.phone_footer > section.social > a > img {
    width: 36px;
    height: 36px;
}

/* Footer End */

/* About Skills */

.skills {
    width: 90.33%;
    margin: auto;
}

.skills > img.react {
    opacity: 10%;
    width: 96.52%;
}

.skills > img.html, img.js{
    width: 83.42%;
}

.skills > img.vue{
    opacity: 10%;
    width: 57.59%;
}

.skills > img.node{
    opacity: 10%;
    width: 59.35%;
}

/* About Skills End */

/* Contact Main Start */

div.contactTitle {
    width: 90.33%;
    margin: 40px auto 7px auto;
}

form,
.emailAndPhone {
    width: 90.33%;
    margin: auto;
}

form>label {
    font-size: 24px;
}

input#email,
input#subject,
textarea#message {
    width: 100%;
    border: 2px solid;
    margin: 10px auto;
    padding: 5px;
}

input#submit {
    border: none;
    background-color: black;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.375rem;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    float: right;
}

::placeholder {
    color: #4D4D4D;
    opacity: 1; /* Firefox */
    font-size: 16px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #4D4D4D;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #4D4D4D;
  }

  .emailAndPhone {
      display: flex;
      flex-direction: column;
    }

    .emailAndPhone > a.email {
        margin-top: 50px;
    }
    
    .emailAndPhone > a {
    color: black;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.375rem;
  }

/* Contact Main End */

/* Projects Page */

.projectsBtn {
    width: 90.33%;
    margin: auto;
    display: flex;
}

section.githubBtn,
section.demoBtn {
    margin: 20px 10px 0 0;
    display: flex;
    width: 120px;
    height: 50px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

section.githubBtn > a,
section.demoBtn > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.375rem;
}

.projects {
    margin-bottom: 30px;
}

/* Projects Page End */


/*********************
****DESKTOP START****
*********************/

@media only screen and (min-width: 769px) {

    /* Header Start */

    img.logo {
        cursor: pointer;
    }

    .menuBtn{
        display: none;
    }

    .pc_nav_links {
        list-style: none;
        visibility: visible;
    }

    .pc_nav_links > li {
        display: inline;
        margin-left: 50px;
    }

    .pc_nav_links > li > a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1rem;
        line-height: 60px;   
    }

    .pc_nav_links > li > a:hover {
        color: #444;
    }

    .projectContainer {
        display: flex;
        width: 90.33%;
        margin: auto;
        overflow: auto;
        justify-content: space-between;
    }

    .projects,
    .projects2,
    .projects3,
    .projects4 {
        margin-right: 1%;
        display: block;
    }

    .projects4 {
        margin-right: 0; 
    }
    
    section.projectTitle > h1,
    section.projectTitle > p,
    section.seeMoreBtn {
        width: 100%;
    }

    /* Header End */

    /* About Start */

    .skills > img.react {
        width: 30%;
    }
    
    .skills > img.html, img.js{
        width: 30%;
    }
    
    .skills > img.vue{
        width: 15%;
    }
    
    .skills > img.node{
        width: 18%;
    }
    
    /* About End */
  }