@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

nav.pc {
    display: flex;
    justify-content: space-between;
    width: 90.33%;
    margin: 20px auto;
}

img.logo {
    width: 60px;
    cursor: none;
}

label.menuBtn > a {
    font-weight: bold;
    font-size: 22px;
    line-height: 60px;
    text-decoration: none;
    color: black;
    cursor: none;
}

nav.phone{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: black;
    min-height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    z-index: 1000000;
}

nav.phone > div.menu_container > div.phone_nav {
    display: flex;
    justify-content: space-between;
    width: 90.33%;
    margin: auto;
    padding-top: 20px;
}

label.menuBtn2 > a {
    font-weight: bold;
    font-size: 22px;
    line-height: 60px;
    text-decoration: none;
    color: white;
    cursor: none;
}

nav.phone > div.menu_container > div.nav_links > ul {
    min-height: 100%;
    width: 90.33%;
    margin: 70px auto;
}

nav.phone > div.menu_container > div.nav_links > ul > li {
    margin: 10px auto;
}

nav.phone > div.menu_container > div.nav_links > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 36px;
}

/* Header End */

/* Title */

div.title {
    width: 90.33%;
    margin: 40px auto 40px auto;
}

h1.title {
    font-weight: bold;
    font-size: 48px;
}

p.subTitle {
    font-weight: normal;
    font-size: 24px;
    width: 90.33%;
    hyphens: auto;
}

/* Title End */

/* Projects */
section.frame > video {
    width: 100%;
}

section.projectTitle > h1 {
    width: 90.33%;
    margin: 30px auto 0 auto;
    font-weight: bold;
    font-size: 40px;
}

section.projectTitle > p {
    width: 90.33%;
    margin: 10px auto 0 auto;
    font-weight: normal;
    font-size: 24px;
}

section.seeMoreBtn {
    width: 90.33%;
    margin: 30px auto auto auto;
}

section.seeMoreBtn > div {
    display: flex;
    width: 190px;
    height: 60px;
    background: black;
}

section.seeMoreBtn > div > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 26px;
    align-self: center;
    justify-content: first baseline;
    margin-left: 10px;
}

section.seeMoreBtn > div > img {
    justify-self: last baseline;
    margin: 20px auto auto 10px;
}

/* Projects End */

/* Footer */

footer,
div.phone_footer {
    width: 90.33%;
    display: flex;
    justify-content: space-between;
    margin: auto auto 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer > section.footerText {
    font-size: 18px;
    width: 190px;
}

footer > section.social,
div.phone_footer > section.social  {
    width: 148px;
    display: flex;
    justify-content: space-between;
}

footer > section.social > a > img,
div.phone_footer > section.social > a > img {
    width: 36px;
    height: 36px;
}

/* Footer End */

/* About Skills */

.skills {
    width: 90.33%;
    margin: auto;
}

.skills > img.react {
    opacity: 10%;
    width: 96.52%;
}

.skills > img.html, img.js{
    width: 83.42%;
}

.skills > img.vue{
    opacity: 10%;
    width: 57.59%;
}

.skills > img.node{
    opacity: 10%;
    width: 59.35%;
}

/* About Skills End */

/* Contact Main Start */

div.contactTitle {
    width: 90.33%;
    margin: 40px auto 7px auto;
}

form,
.emailAndPhone {
    width: 90.33%;
    margin: auto;
}

form>label {
    font-size: 24px;
}

input#email,
input#subject,
textarea#message {
    width: 100%;
    border: 2px solid;
    margin: 10px auto;
    padding: 5px;
}

input#submit {
    border: none;
    background-color: black;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    float: right;
}

::placeholder {
    color: #4D4D4D;
    opacity: 1; /* Firefox */
    font-size: 16px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #4D4D4D;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #4D4D4D;
  }

  .emailAndPhone {
      display: flex;
      flex-direction: column;
    }

    .emailAndPhone > a.email {
        margin-top: 50px;
    }
    
    .emailAndPhone > a {
    color: black;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
  }

/* Contact Main End */

/* Projects Page */

.projectsBtn {
    width: 90.33%;
    margin: auto;
    display: flex;
}

section.githubBtn,
section.demoBtn {
    margin: 20px 10px 0 0;
    display: flex;
    width: 120px;
    height: 50px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

section.githubBtn > a,
section.demoBtn > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 26px;
}

.projects {
    margin-bottom: 30px;
}

/* Projects Page End */