@import "tailwindcss";

:root {
    --background: #09090b;
    --foreground: #e8e8e8;
    --border: rgba(39, 39, 42, .45);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-border: var(--border);
    --font-heading: var(--font-heading);
    --font-ui: var(--font-ui);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-ui);
}

.container {
    max-width: 768px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
}
