html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  font-size: 14px;
  /* Firefox */
  scrollbar-color: #151A41 aliceblue;
  scrollbar-width: thin;
}

/* Chrome */
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background: #151A41;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chakra-alert {
  border-inline-start-color: #151A41 !important;
  background: #fff !important;
  color: #151A41 !important;
}

.chakra-alert__icon {
  color: #151A41 !important;
}

.chakra-tabs__tab[aria-selected="true"] {
  color: white !important;
  background: #151A41 !important;
  border-bottom: 1px solid #151A41 !important;
}

.chakra-tabs__tab:focus, .chakra-tabs__tab[data-focus] {
  box-shadow: none !important;
}